@import "../common/styles/saas/variables";
@import "../common/styles/saas/mixins";

.hire {
  @include flex(row, center, center, nowrap);
  min-height: 50vh;
  padding: 100px 0;
  text-align: center;

  .container {
    @include container();
    @include flex(column, center, center, nowrap);

    .title {
      margin-bottom: 30px;
      font-size: 48px;
    }
  }

}


