.contacts {
    min-height: 50vh;

    background-color: #d5b272;
}

.container {
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;

    width: 200px;
}

.input {

}

.textarea {

}

.btn {

}