.contacts {
    min-height: 50vh;

    background-color: #d5b272;
}

.container {
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;

    width: 400px;
}

.input {
    padding: 10px;
    margin-bottom: 10px;

    text-align: center;
}

.textarea {
    text-align: center;
}

.btn {
    margin: 10px;
    padding: 10px 25px;
    border-radius: 5px;
}

.form input,
.form textarea {
    width: 100%;
}

@media screen and (max-width: 500px) {
    .form {
        width: 100%;
    }
}