@import "../../common/styles/saas/variables";
@import "../../common/styles/saas/mixins";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;

  a {
    @include text($textFont, 18px, bold, 1);
    letter-spacing: 1px;
    text-decoration: none;
    color: $textColor;
    padding: 5px 10px;

    &.active {
      border: 2px solid $textColor;
    }

    &:hover {
      border: 2px solid $textColor;
    }
  }
}

