.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    min-height: 100%;
    width: 80%;

    border: 1px solid orangered;

    margin: 0 auto;
}

@media screen and (max-width: 750px) {
.container {
    justify-content: center;
}
}