@import '../../styles/saas/variables';
@import '../../styles/saas/mixins';

.title {
  @include sectionTitle();
  }

  h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 36px;

    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 3px;

    color: $textColor;

    margin: 0;
  }



