@import "./variables";

@mixin text($fontFamily, $fontSize,$fontWeight,$lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $textColorDark;
}

@mixin sectionTitle() {
  font-family: $titleFont;
  font-size: 36px;
  color: $textColor;
  position: relative;
  margin: 0 0 30px;
  &::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 50%;
    transform: translate(-50%);
    width: 107px;
    height: 10px;
    background-image: url('../../../assets/images/title_bg_white.png');
    opacity: 0.9;
  }
}

@mixin container() {
  width: 80%;
  margin: 0 auto;
  @media screen and(max-width: 602px) {
    width: 95%;
  }
}

@mixin flex($direction,$justifyContent,$alignItems,$wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}

@mixin bgImgSettings() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}