//COLORS

$textColor: #d9cfcf;
$textColorDark: rgb(136, 127, 127);

$primaryColor: #5a5ad9;
$bgColor: #1a1717;
$bgSecondColor: #2a2626;
$bgAccentColor: #7605e7;

//FONTS
$titleFont: 'Josefin Sans', sans-serif;

$textFont: 'Poppins', sans-serif;
