//COLORS

$textColor: #fff;

$primaryColor: #5a5ad9;
$bgColor: #646262;
$bgSecondColor: #c4c42a;
$bgAccentColor: #49bd2f;

//FONTS
$titleFont: 'Josefin Sans', sans-serif;

$textFont: 'Poppins', sans-serif;
