.skillsBlock {
    min-height: 100vh;

    background-color: #bae3ce;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    border: 1px solid dodgerblue;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    border: 1px solid dodgerblue;

    width: 100%;
}