@import "../../common/styles/saas/variables";
@import "../../common/styles/saas/mixins";
@import "../../common/components/button/Button.module";

.project {
  @include flex(column, flex-start, flex-start, nowrap);
  width: 350px;
  //max-width: 33%;
  //margin-bottom: 10px;
  padding: 5px;
  background-color: $bgSecondColor;

  .imgContainer {
    position: relative;
    @include flex(column, center, center, nowrap);
    @include bgImgSettings();
    background-size: cover;
    background-position: center;
    filter:  sepia(80%) saturate(2.2) ;
    width: 100%;
    height: 300px;

    &::before {
      position: absolute;
      content: "";
      background-color: rgba(10, 10, 10, 0.91);
      opacity: 0.5;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }

    .showBtn {
      @extend .btn;
      position: relative;
      z-index: 2;
    }
  }

  .projectInfo {
    padding: 25px 20px;
    background-color: rgba(8, 8, 8, 0.5);
    box-shadow: 0 0 17 0 rgb(255 255 255 / 10%);

    .projectTitle {
      @include text($titleFont, 24px, 700, 1.2);
      margin: 0 0 5px;
    }

    .description {
      @include text($textFont, 16px, 400, 1.8);
    }
  }

  @media screen and (max-width: 1015px) {
    justify-content: center;
  }


}









