.project {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    border: 1px solid dodgerblue;

    text-align: center;
}


.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image:url("https://image.shutterstock.com/image-photo/istanbul-turkey-july-2021-illustrative-260nw-2019755717.jpg");
    background-size:cover;
    background-position: center;

    width: 100%;
    height: 200px;
}

.project a {
    display: block;
    padding: 5px 15px;
    border-radius: 5px;

    background-color: #5b8f8f;
    text-decoration: none;
    color: black;
}

.project a:hover {
    cursor: pointer;

    background-color: #074773;
}

