.footer {
    min-height: 30vh;
    padding: 100px 0;

    text-align: center;
}

.container {
    flex-direction: column;
}

.name {

}

.icons {
    display: flex;
    justify-content: space-between;

    width: 200px;

}

.icon {
    width: 30px;
    height: 30px;

    background-color: #ba98da;
}

.copy {

}