@import "../common/styles/saas/variables";
@import "../common/styles/saas/mixins";

.footer {
  @include flex(row, center, center, nowrap);
  min-height: 30vh;
  padding: 100px 0;
  text-align: center;

  .container {
    @include container();
    @include flex(column, space-between, center, nowrap);

    .name {

    }

    .icons {
      display: flex;
      justify-content: space-between;
      width: 240px;
      margin: 30px 0;

      .icon {
        @include flex(row, center, center, nowrap);
        width: 50px;
        height: 50px;
        font-size: 30px;
        color: $textColor;
        background-color: $bgSecondColor;
        transform: rotate(45deg);

        a {
          text-decoration: none;
          color: white;
          transform: rotate(-45deg);

          :hover {
            color: $bgAccentColor;
          }
        }
      }
    }

    .copy {
      @include text($textFont, 16px, 400, 1.8);
    }
  }
}