@import "../common/styles/saas/variables";

.projectsBlock {
  min-height: 100vh;

  background-color: $bgColor;

  padding: 100px 0;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .projects {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      width: 100%;
      margin-top: 30px;

      @media screen and (max-width: 1003px) {
        justify-content: center;
      }
    }
  }
}




