.projectsBlock {
    min-height: 100vh;

    background-color: #282727;

    padding: 100px 0;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    margin-top:30px ;
}

@media screen and (max-width: 1130px) {
    .projects {
        justify-content: center;
    }
}

