.projectsBlock {
    min-height: 100vh;

    background-color: #dcbea6;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    border: 1px solid dodgerblue;
}

.projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border: 1px solid dodgerblue;

    width: 100%;
}

@media screen and (max-width: 750px) {
    .projects {
        justify-content: center;
    }
}

